{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block title %}Image {{ model.canvas_index }}/{{ model.total_canvases }} of {{ model.label }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>
                    {{ model.label }}<br/>
                    {{ model.canvas_index }}/{{ model.total_canvases }}
                </h1>
            </div>
        </div>

        <div class="row">
            {% set described_by_label = "canvasDescription" ~ model.canvas_index %}
            {% set canvas_label = model.single_string(model.canvas, "label", none) ~ " (canvas " ~ (model.canvas_index + 1) ~ ")" %}
            {% if model.text_lines is not none %}
                <div class="col-md-auto">
                    {{ macros.large_image(model, described_by_label) }}
                </div>
                <div class="col-md-auto">
                    <div class="canvas-description" id="{{ described_by_label }}">
                        <h2>{{ canvas_label }}</h2>
                        <p><em>The image contains the following text:</em></p>
                        {{ macros.text_lines(model) }}
                    </div>
                </div>
            {% else %}
                <div class="col-md-auto">
                    {{ macros.large_image(model, described_by_label) }}
                    <p id="{{ described_by_label }}">{{ canvas_label }}</p>
                </div>
            {% endif %}
            <div class="col-md-2">
                <nav class="thumbnail-container">
                    {{ macros.thumbnails(model) }}
                </nav>
            </div>
            <div class="col-md-2">
                {{ macros.metadata(model) }}
            </div>
        </div>
    </div>
{% endblock %}
