{% extends "layout.html" %}
{% block title %}{{ label }}{% endblock %}


{% block content %}
<h2>Some Manifests</h2>
    <ul>
        {% for manifest in model.manifests %}
            <li>
                <a href="{{ manifest.original }}">source</a> |
                <a href="{{ manifest.raw }}">raw url</a> |
                <a href="{{ manifest.internal }}">{{ manifest.label }}</a>
            </li>
        {% endfor %}
    </ul>

    <div style="width: 400px">
        <embed type="image/svg+xml" src="http://localhost:4321/test.svg" style="width: 100%;" />
    </div>
{% endblock %}
