{% extends "layout.html" %}
{% block title %}{{ label }}{% endblock %}


{% block content %}
<h2>Some Manifests</h2>

    <ul>
        <li><a href="/wellcome/object/b19854699">Documents for Chapter 10-12</a></li>
        <li><a href="/wellcome/object/b21436824">Interior of an Alchemical Laboratory</a></li>
        <li><a href="/wellcome/object/b21537951">Warne's model cookery and housekeeping book : containing complete instructions in household management</a></li>
        <li><a href="/wellcome/object/b19431132">Cyprianus, M. L.</a></li>
        <li><a href="/wellcome/object/b18633419">Scrapbook of programmes and concert arrangements of the RAMC band</a></li>
        <li><a href="/wellcome/object/b19255366">Lowdham, Caleb (fl. 1665-1712), surgeon, Exeter</a></li>
        <li><a href="/wellcome/object/b20442324">Sex efficiency through exercises : special physical culture for women</a></li>
        <li><a href="/wellcome/object/b19979186">Travel - Maps and Guides</a></li>
        <li><a href="/wellcome/object/b28545187">A purple head in anguish, with arms raised. Watercolour by M. Bishop, 1967.</a></li>
        <li><a href="/wellcome/object/b29918194">[Report 1960]</a></li>
        <li><a href="/wellcome/object/b21891990">5 Laminated colour photographs of aerial view of Glasgow with Gartnavel at the centre</a></li>
        <li><a href="/wellcome/object/b19984960">40th Anniversary of Double Helix - Installation of the Bronze Helix (2 folders)</a></li>
        <li><a href="/wellcome/object/b20425272">The philosophy of beards : a lecture : physiological, artistic & historical</a></li>
        <li><a href="/wellcome/object/b18863231">First World War photographs of military hospitals</a></li>
        <li><a href="/wellcome/object/b19691087">The Queen's Roll: 6301-6550</a></li>
        <li><a href="/wellcome/object/b21895466">Admission documents (male)</a></li>
        <li><a href="/wellcome/object/b16698800">A central circle with four penis-like extensions surrounded by numerous small circles and flower shapes in each corner</a></li>
        <li><a href="/wellcome/object/b19851777">Chapter 10 references [photos] (3 of 3)</a></li>
        <li><a href="/wellcome/object/b24875880">Merveilles du génie de l'homme : découvertes, inventions, récits, historiques, amusants et instructifs sur l'origine et l'état actuel des découvertes...</a></li>
        <li><a href="/wellcome/object/b28644475">Grids and droplets. Watercolour by M. Bishop, 196- (?).</a></li>
        <li><a href="/wellcome/object/b19251051">Scrapbook re the First World War and the Easter Rising in Dublin, including photographs of training dogs to track down wounded...</a></li>
        <li><a href="/wellcome/object/b15657930">Japanese funeral customs: the cortège leaves the dead man's house for the temple. Watercolour, ca. 1880 (?).</a></li>
        <li><a href="/wellcome/object/b20046613">Papers of M H F Wilkins: press cuttings relating to DNA research</a></li>
    </ul>
{% endblock %}