{% macro thumbnails(model, helpers) -%}
    {% for cvs in model.manifest["items"] %}
        {% set thumb = helpers.get_thumbnail(cvs) %}
        {% set thumb_label_id = "thumbLabel" ~ loop.index %}
        {% set canvas_label = helpers.single_string(cvs, "label", "Canvas " ~ loop.index) %}
        <div class="thumbnail">
            <a href="{{ helpers.canvas_url(model.source, model.manifest, cvs, helpers.canvas_template) }}"
                aria-labelledby="{{ thumb_label_id }}"
                {% if loop.index0 == model.canvas_index %}
                    aria-current="page"
                    class="active"
                {% endif %}
            >
                <img src="{{ thumb.id }}"
                     width="{{ thumb.width }}" height="{{ thumb.height }}"
                     alt="{{ canvas_label }}"
                />
            </a>
            <p id="{{ thumb_label_id }}">{{ canvas_label }}</p>
        </div>
    {%  endfor %}
{%- endmacro %}


{% macro large_image(model, helpers, described_by_label) -%}
    {% set image = helpers.get_static_image(model.canvas) %}
    <img class="img-fluid"
         id="canvasImage"
         src="{{ image.id }}"
         width="{{ image.width }}" height="{{ image.height }}"
         aria-describedby="{{ described_by_label }}"
         style="width: {{ image.width }}px; height: {{ image.height }}px"
    />
{%- endmacro %}

{% macro large_image_with_neighbours(model, helpers, described_by_label, make_links) -%}
    {% if model.prev_canvas %}
        {% set prev_image = helpers.get_static_image(model.prev_canvas) %}
        <div class="image-container">
        {% if make_links %}<a href="{{ helpers.canvas_url(model.source, model.manifest, model.prev_canvas, helpers.canvas_template) }}">{% endif %}
        <img class="img-prev"
             id="canvasImagePrevious"
             src="{{ prev_image.id }}"
{#             width="{{ prev_image.width }}" height="{{ prev_image.height }}"#}
             {% if make_links %}
                 alt="link to previous page"
                 title="Go to previous page"
             {% endif %}
{#             style="width: {{ prev_image.width }}px; height: {{ prev_image.height }}px"#}
             data-canvas-id="{{ model.prev_canvas.id }}"
        />{% if make_links %}</a>{% endif %}
        </div>
    {% endif %}
    {% set image = helpers.get_static_image(model.canvas) %}
    <div class="image-container">
    <img class="img-current"
         id="canvasImage"
         src="{{ image.id }}"
{#         width="{{ image.width }}" height="{{ image.height }}"#}
         aria-describedby="{{ described_by_label }}"
{#         style="width: {{ image.width }}px; height: {{ image.height }}px"#}
         data-canvas-id="{{ model.canvas.id }}"
    />
    </div>
    {% if model.next_canvas %}
        {% set next_image = helpers.get_static_image(model.next_canvas) %}
        <div class="image-container">
        {% if make_links %}<a href="{{ helpers.canvas_url(model.source, model.manifest, model.next_canvas, helpers.canvas_template) }}">{% endif %}
        <img class="img-next"
             id="canvasImageNext"
             src="{{ next_image.id }}"
{#             width="{{ next_image.width }}" height="{{ next_image.height }}"#}
             {% if make_links %}
                alt="link to next page"
                title="Go to next page"
             {% endif %}
{#             style="width: {{ next_image.width }}px; height: {{ next_image.height }}px"#}
             data-canvas-id="{{ model.next_canvas.id }}"
        />{% if make_links %}</a>{% endif %}
        </div>
    {% endif %}
{%- endmacro %}


{% macro text_lines(model) -%}
    <div class="text-lines-container">
        {% for line in model.text_lines %}
            <span>{{ line }}</span>
        {% endfor %}
    </div>
{%- endmacro %}


{% macro metadata(model, helpers) -%}
    <div class="metadata-container">
        {% if model.canvas.metadata %}
            <dl>
                {% for pair in model.canvas.metadata %}
                    {{ metadata_pair(pair, helpers) }}
                {% endfor %}
            </dl>
            <hr/>
            <h3>Manifest metadata</h3>
        {% endif %}
        {% for pair in model.manifest.metadata %}
            <dl>
                {{ metadata_pair(pair, helpers) }}
            </dl>
        {% endfor %}
    </div>
{%- endmacro %}


{% macro metadata_pair(pair, helpers) -%}
    <dt>
        {% for string_value in helpers.strings(pair, "label") %}
            {{ string_value | safe }}
            {% if not loop.last %}
               <br/>
            {% endif %}
        {% endfor %}
    </dt>
    <dd>
        {% for string_value in helpers.strings(pair, "value") %}
            {{ string_value | safe }}
            {% if not loop.last %}
               <br/>
            {% endif %}
        {% endfor %}
    </dd>
{%- endmacro %}

{% macro navigator(model, helpers) -%}

    <div class="btn-group" role="group" aria-label="Canvas Navigation">

        <a aria-label="Previous canvas"
           {% if model.prev_canvas %}
                class="btn btn-outline-primary"
                href="{{ helpers.canvas_url(model.source, model.manifest, model.prev_canvas, helpers.canvas_template) }}"
           {% else %}
                class="btn btn-outline-primary disabled"
                aria-disabled="true"
           {% endif %}
        >
            &lt; Previous Canvas
        </a>
        <a aria-label="View all Canvases"
           {% if model.manifest %}
                class="btn btn-outline-primary"
                href="{{ helpers.manifest_url(model.source, model.manifest) }}"
           {% else %}
                class="btn btn-outline-primary disabled"
                aria-disabled="true"
           {% endif %}
        >
           View Manifest
        </a>
        <a aria-label="Next canvas"
           {% if model.next_canvas %}
                class="btn btn-outline-primary"
                href="{{ helpers.canvas_url(model.source, model.manifest, model.next_canvas, helpers.canvas_template) }}"
           {% elif model.manifest and not model.canvas %}
                class="btn btn-outline-primary"
                href="{{ helpers.canvas_url(model.source, model.manifest, model.manifest["items"][0], helpers.canvas_template) }}"
           {% else %}
                class="btn btn-outline-primary disabled"
                aria-disabled="true"
           {% endif %}
        >
            Next Canvas &gt;
        </a>

    </div>

    <div class="btn-group ms-3" role="group" aria-label="Toggles">
        <a aria-label="Toggles" class="btn btn-outline-primary" href="/toggles">
            {% if model.script_on %}
                script on
            {% else %}
                script off
            {%  endif %}
        </a>
    </div>

{%- endmacro %}
