{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col"><h1>{{ model.label }}</h1></div>
        </div>

      <div class="row">
        <div class="col-sm-8">
            <div class="thumbnail-container">
                {{ macros.thumbnails(model, helpers) }}
            </div>
        </div>
        <div class="col-sm-4">
            {{ macros.metadata(model, helpers) }}
        </div>
      </div>
    </div>
{% endblock %}
